/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #0c2116;
}

main {
  background-color: #0c2116;
}

h1,
h2,
h3,
h4 {
  font-family: "Optician Sans";
}

figure {
  margin: 0;
}

.content-wrapper,
.signup-container {
  /* outline: 3px dotted red; */
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  background-color: #0c2116;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

header img {
  max-width: 80%;
  justify-content: center;
  margin: 0;
  padding: 20px 0 0 60px;
}

header nav {
  width: 90%;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1%;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans";
  font-size: 0.75em;
  font-weight: bold;
}

/*Uptop Signup Form*/

.signup-container-uptop {
  background-color: #0c2116;
  display: flex;
  align-items: center;
  width: 100%;
}

.one-uptop {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1% 0 5% 0;
  width: 100%;
}

.heading-uptop {
  display: flex;
  font-size: 1em;
  text-align: center;
}

.signup-button-uptop {
  display: flex;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 30px;
}

.btn-uptop {
  background-color: #1ddfb8;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#myForm-uptop {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
}
#myForm-uptop input {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  text-align: center;
  font-size: 0.75em;
  width: 45%;
  height: 30px;
}
/*End of Uptop Signup*/

/*Hero Area*/
.hero-area-container {
  display: flex;
  justify-content: center;
}

.hero-area {
  display: flex;
  justify-content: center;
  background: url(../img/six-fingers-1600x1000.jpg) center, no-repeat;
  background-size: cover;
  min-height: 200px;
  width: 100%;
  align-items: flex-end;
}

.hero-area .content-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.save-the-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.save-the-date h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  color: #fff;
  font-size: 1.25em;
  line-height: 1em;
  font-weight: 500;
}

.hero-area .call-to-action {
  padding-top: 3%;
}

.call-to-action {
  display: flex;
  justify-content: center;
}

.action-button {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 40%;
  height: 20px;
  background-color: #1ddfb8;
  font-size: 0.75em;
  margin: 0 5%;
}

.action-VIP-button {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 40%;
  height: 20px;
  background-color: #078d72;
  font-size: 0.75em;
  margin: 0 5%;
}

.hero-area .content-wrapper p {
  font-size: 0.65em;
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

/*Intro Paragraph*/
.intro-para {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  width: 100%;
}
.intro-para h3 {
  font-family: "Open Sans";
  text-align: center;
  width: 95%;
  font-size: 1em;
}

/*DC Quote*/
.blurb .content-wrapper {
  display: flex;
  justify-content: center;
}

.dc-blurb {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10%;
}

.dc-blurb h4 {
  display: flex;
  justify-content: center;
}

.dc-blurb h5 {
  display: flex;
  justify-content: center;
  font-family: "Optician Sans";
  font-size: 1.25em;
  color: #999;
}

/*Carousel*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  background-color: black;
  position: relative;
  width: 80%;
  padding-top: 50%;
  max-height: 100vh;
  overflow: hidden;
  margin-left: 10%;
  margin-top: 8%;
  margin-bottom: 8%;
}
#inner_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#imgs_container {
  width: 100%;
  height: 100%;
}
.img_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  transition: left 0.3s;
}
.img_container > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
#overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.2);
}
.overlay_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10%;
  height: 20%;
  border-radius: 30%;
  font-size: 3vw;
  font-weight: bold;
  background-color: rgba(11, 114, 81, 0.377);
  color: #333;
  top: 40%;
}
#left_button {
  left: 1%;
}
#right_button {
  right: 1%;
}
/*End of Carousel*/

/*Show Description*/
.description {
  display: flex;
  justify-content: center;
}

.show-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(../img/LookCloser_Logo.png) center, no-repeat;
  background-size: cover;
  min-height: 300px;
  width: 100%;
}

.show-description h4,
.show-description p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.show-description h4 {
  padding-top: 12%;
}
/*End of show description*/

/*Residency announcement*/

.divider {
  display: flex;
  justify-content: center;
  border: #fff solid 1px;
  width: 80%;
}

.residency .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.description-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-right: 2%;
}

.residency img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.residency-description {
  padding-top: 5%;
  width: 60%;
  align-items: center;
}

.midnight-logo {
  width: 30%;
  height: 30%;
  align-items: center;
}

.midnight-logo a img {
  display: flex;
  justify-content: center;
}

.midnight-link a {
  text-decoration: none;
  color: #1ddfb8;
}
/*End of Residency Announcement*/

/*Ticket Info Section*/
.ticket-info-section {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

.ticket-info-section .content-wrapper {
  width: 95%;
}

/*Signup Form*/

.signup-container {
  background-color: #0c2116;
  display: flex;
  justify-content: center;
}

.one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5% 0;
}

.heading {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  text-align: center;
}

.trick {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.signup-button {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #1ddfb8;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 30%;
}

#myForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#myForm input {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  width: 60%;
}
/*End of Signup Form*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #000;
  background-color: #fff;
}

footer h1 {
  font-size: 2.25em;
  padding: 5% 5% 0 5%;
  margin-bottom: 0;
}

.icons-container {
  display: flex;
  justify-content: center;
}

.vanish-logo {
  padding: 10% 0;
}

.groupava-logo {
  padding: 15% 0 5% 0;
}

.contact-us-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.contact-us-icons p i {
  display: flex;
  font-size: 2.5em;
  color: #078d72;
}

.footer-links {
  padding-top: 15%;
}

.footer-links a {
  text-decoration: none;
  color: #000;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: bold;
}

.contact-us {
  width: 90%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  nav ul {
    padding: 5%;
  }

  nav ul li a {
    font-size: 1.25em;
  }

  /*Uptop Signup*/
  .signup-container-uptop {
    width: 70%;
  }

  .heading-uptop {
    font-size: 1.5em;
  }

  .signup-button-uptop {
    height: 40px;
    width: 20%;
  }

  .btn-uptop {
    font-size: 1em;
  }

  #myForm-uptop input {
    font-size: 1em;
    width: 45%;
    height: 40px;
  }

  /*Hero Area*/
  .hero-area {
    min-height: 500px;
  }

  .save-the-date h1 {
    font-size: 2.25em;
  }

  .action-button {
    width: 30%;
    height: 30px;
    font-size: 1.25em;
    margin-bottom: 1%;
    align-items: center;
  }

  .action-VIP-button {
    width: 30%;
    height: 30px;
    font-size: 1.25em;
    margin-bottom: 1%;
    align-items: center;
  }

  .hero-area .content-wrapper p {
    font-size: 1.25em;
  }

  /*Intro Paragraph*/

  .intro-para h3 {
    font-size: 1.5em;
  }

  /* DC Blurb*/
  .dc-blurb {
    padding-top: 8%;
  }

  .dc-blurb h4 {
    font-size: 2.5em;
  }

  .dc-blurb h5 {
    font-size: 2em;
  }

  /*Show Description*/
  .description .content-wrapper {
    width: 60%;
    align-items: center;
  }

  .show-description h4 {
    padding-top: 8%;
    font-size: 1.75em;
  }

  .show-description p {
    font-size: 1.25em;
  }

  /*Residency Announcement Tablet*/
  .residency .content-wrapper {
    padding-top: 6%;
  }

  .img-txt-logo-container {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 2% 0;
  }

  .divider {
    width: 60%;
  }

  .residency img {
    padding: 5% 0 5% 5%;
  }

  .residency-description {
    padding: 3% 0 0 5%;
    width: 55%;
    font-size: 1.15em;
  }

  .description-logo {
    display: flex;
    justify-content: start;
    padding-right: 2%;
  }

  .midnight-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%;
  }

  /*Ticket Info Section*/
  .ticket-info-section {
    display: flex;
    justify-content: center;
  }

  .ticket-info-section .content-wrapper {
    width: 60%;
    padding-bottom: 5%;
  }

  /*Signup Form*/

  #myForm input {
    height: 40px;
    width: 50%;
  }

  .heading {
    font-size: 2em;
  }

  .trick {
    font-size: 3em;
  }

  /*Footer*/

  .contact-us {
    width: 90%;
  }

  .contact-container {
    display: flex;
    justify-content: space-evenly;
  }

  .vanish-contact,
  .groupava-contact {
    width: 40%;
  }

  .vanish-logo {
    padding: 30px 0;
    width: 100%;
    height: 60%;
  }

  .groupava-logo {
    padding: 5% 0 5% 5%;
    width: 100%;
    height: 60%;
  }

  .footer-links {
    display: flex;
    justify-content: space-around;
    padding: 3%;
  }
}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/

  /*Header*/
  header {
    width: 80%;
  }

  header .content-wrapper {
    justify-content: space-between;
    flex-flow: nowrap;
    width: 100%;
    min-height: 150px;
  }

  header img {
    padding: 0;
  }

  .look-closer-logo {
    width: 50%;
    height: 90%;
  }

  header nav {
    width: 50%;
  }

  /*Hero Section*/
  .hero-area {
    min-height: 1000px;
  }

  .hero-area h1 {
    /* font-size: 4.25em; */
    font-size: 10em;
  }

  .action-button,
  .action-VIP-button {
    height: 50px;
    font-size: 1.75em;
  }

  /* .hero-area .call-to-action {
    display: none;
  } */

  .hero-area .content-wrapper p {
    font-size: 2em;
  }

  /*Intro Paragraph*/
  .intro-para h3 {
    font-size: 2.5em;
    width: 80%;
  }

  /*DC Blurb*/
  .dc-blurb h4 {
    font-size: 3.5em;
  }

  .dc-blurb h5 {
    font-size: 2.5em;
  }

  /*Carousel*/
  #container {
    width: 60%;
    padding-top: 30%;
    margin-left: 20%;
  }

  /*Show Description*/

  .show-description p {
    font-size: 2em;
  }

  .show-description h4 {
    font-size: 3em;
  }

  .show-description {
    width: 70%;
  }

  /*Residency Announcement Tablet*/
  .residency-image {
    width: 100%;
  }

  .residency img {
    padding: 0 0 5% 5%;
    height: 100%;
    width: 100%;
  }

  .residency-description {
    font-size: 2em;
    padding-top: 0;
  }

  .midnight-logo {
    padding-top: 0;
    height: 80%;
  }

  /*Ticket Info Section*/
  .ticket-info-section h2 {
    font-size: 3em;
  }

  .ticket-info-section p,
  .VIP-ticket-info p,
  .VIP-ticket-info ul {
    font-size: 2em;
  }

  .ticket-info-section {
    padding-top: 6%;
  }

  .ticket-info-section .content-wrapper {
    width: 60%;
  }

  /*Signup Form*/

  #myForm input {
    height: 50px;
    width: 30%;
  }

  .heading {
    font-size: 2.5em;
  }

  .trick {
    font-size: 4em;
  }

  .btn {
    height: 50px;
    width: 15%;
  }

  /*Footer*/
  .contact-us {
    width: 70%;
  }

  footer h1 {
    font-size: 4em;
    margin-bottom: 0.67em;
  }

  .vanish-contact,
  .groupava-contact {
    width: 30%;
  }

  .footer-links {
    padding: 8%;
    font-size: 1.25em;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
